*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
    margin: auto;
    height: 200px;
    width: 200px;
    background: rgb(190, 226, 190);
    /* overflow: auto; */
    overflow-y: auto;
}
/* .container::-webkit-scrollbar{
    display: none;
} */
/*
overflow: 
1. visible (By default.)
2. hidden
3. scroll
4. auto*/